@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: #D5E1EF;
    padding: 25px;
    margin: 25px;
    position: relative;
}

img {
    width:300px;
    height: 300px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

div {
  border: 5px solid #FFFFFF;
  padding: 12px;
  margin: 12px;
  width: 300px;
  height: 485px;
  background-color:#FFFFFF;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -170px;
}

h3 {
    font-family: "Outfit";
    font-size: 22px;
    color: #1F314F;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    
}

h4 {
    font-family: "Outfit";
    font-size: 15px;
    color:#68778D;
    line-height: 140%;
    letter-spacing: 0.6px;
    text-align: center;
    font-weight: 400;
}